services:
  app:
    image: lscr.io/linuxserver/changedetection.io:latest
    env_file:
      - .env
    environment:
      - CADDY_DOMAIN=${CADDY_DOMAIN}
      - CADDY_TYPE=${CADDY_TYPE:-internal}
      - CADDY_PORT=${CADDY_PORT:-5000}
    volumes:
      - app_data:/config
    networks:
      - caddy
      - default
    depends_on:
      playwright:
        condition: service_started
    restart: unless-stopped

  playwright:
    image: dgtlmoon/sockpuppetbrowser:latest
    env_file:
      - .env
    networks:
      - default
    restart: unless-stopped

networks:
  caddy:

volumes:
  app_data: